* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

header {
    width: 100%;
    position: relative;
    margin-bottom: 5vh;
}

.header_image {
    width: 100%;
    object-fit: cover;
}

.text_header_container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    color: #fc3146;
    font-weight: 500;
}

.main_title {
    font-size: 6rem;
    font-weight: 700;
    color: #cc0033;
    background-color: rgba(255, 255, 255, 0.658);
    padding: 5% 5%;
    border-radius: 5%;
    width: 80%;
    text-align: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top_paragraph {
    text-align: center;
    font-size: 1.6rem;
    max-width: 80%;
    margin-bottom: 5vh;
}

.cards_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
}

.card_description {
    background-color: #cd0033;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.card_title {
    font-size: 2.2rem;
    font-weight: 600;
}

.card_paragraph {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.card_btn {
    color: #cd0033;
    border: 5px solid #cd0033;
    border-radius: 15%;
    margin-top: 5%;
    padding: 1%;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.social_media_container {
    width: 100%;
    background-color: #cd0033;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social_media_container>p {
    font-size: 1.5rem;
    margin-bottom: 1%;
    color: white;
}

.sub_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.sub_container>div, .sub_container>p {
    font-size: 1.5rem;
    color: black;
}

.sub_container>a {
    color: black;
    text-decoration: underline;
    margin: 2% 0;
}